.header_optionLineTow {
  font-size: 13px;
  font-weight: 800;
}

.header_basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.header_optionBasket {
  display: flex;
  align-items: center;
  color: rgb(9, 33, 170);
}
