.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 50px !important;
  left: 0;
  z-index: 1000;
}

.box {
  color: black;
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
.media-left {
  width: 150px !important;
}

.heightCard {
  height: 300px !important;
  padding-top: -100px !important;
  margin-top: -250px !important;
}
.paddinTop {
  /* margin-top: -50px !important; */
  vertical-align: top;
}
.testTdTab {
  margin-top: -500px !important;
  padding-top: -500px !important;
}

.cardContent {
  display: flex;
  flex-direction: column !important;
  box-shadow: 1px 1px 1px 1px #cccbcb;
  margin: 20px !important;
  max-height: 140px !important;
}
.cardSinglePro {
  display: flex;
  flex-direction: row;
}

.imageStyle {
  margin: 20px;
  max-height: max-content !important;
}
.imageStyle img {
  height: 140px !important;
  margin-top: -20px !important;
  margin-left: -20px !important;
  border-radius: 0% !important;
  width: 200px !important;
}

.imageStyle p {
  color: black !important;
}
.imageStyle p:hover {
  color: black !important;
  cursor: context-menu;
}
.imageStyle span h3 {
  color: black;
  font-size: 20px !important;
  font-weight: 400;
}
.imageStyle span h3:hover {
  color: green;
  font-size: 20px !important;
  font-weight: 400;
  cursor: context-menu !important;
}
.basketContent {
  display: flex !important;
  flex-direction: row !important;
}

.firstSection {
  width: 60%;
}
.secondSection {
  width: 40%;
}
.total-shapping-area {
  padding: 10px;
  margin-top: 20px;
  /* box-shadow: 1px 1px 1px 1px #cccbcb; */
}
.total-shapping-area-wrap {
  margin-bottom: 180px !important;
}

.boutton {
  background-color: rgb(219, 223, 219);

  padding: 5px 20px;
  cursor: pointer;
  font-weight: 400;
  color: black !important;
  text-decoration: none !important;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid gray;
}
.margin {
  margin-top: 150px;
}

.checkout-form-product {
  overflow: hidden !important;
}
.media-body {
  flex: none !important;
}
